/* = 常用CSS工具类 by qy 2018.1.4 = */
/* = 清除默认样式CSS = */
*:focus {
	outline: none;
}
a:hover,a:focus,a:active,a:visited,a:link{
	text-decoration: none;
}

/* ========== */
/* = 基本样式设定 = */
* {
	margin: 0px;
	padding: 0px;
}
table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
ul li{
	list-style: none; 
	cursor : pointer;
}
button{
	background:none;
	border: none;
	cursor: pointer;
}
input[type=color]{
	width: 25px;
	height: 15px;
	border: 0;
	padding: 0;
	background-color: rgba(255,255,255,0);
	float: right;
}
/*横条样式*/  
input[type=range] {  
  -webkit-appearance: none;/*清除系统默认样式*/  
  width: 100%;  
  background: -webkit-linear-gradient(#61bd12, #61bd12) no-repeat, #ddd;/*设置左边颜色为#61bd12，右边颜色为#ddd*/  
  background-size: 100% 100%;/*设置左右宽度比例*/  
  height: 3px;/*横条的高度*/  
}  
/*拖动块的样式*/  
input[type=range]::-webkit-slider-thumb {  
  -webkit-appearance: none;/*清除系统默认样式*/  
  height: 26px;/*拖动块高度*/  
  width: 26px;/*拖动块宽度*/  
  background: #05E4ED;/*拖动块背景*/  
  border-radius: 50%; /*外观设置为圆形*/  
  border: solid 1px #05E4ED; /*设置边框*/  
} 

/* ========== */

/* = 弹出框 = */
.layui-layer-setwin .layui-layer-close2 {
    position: absolute;
    right: -5px !important;
    top: -9px !important;
    width: 30px;
    height: 30px;
    margin-left: 0;
    background-position: -149px -31px;
    *right: -18px;
    _display: none;
}
.layui-layer {
    background-color: rgba(0,0,0,0) !important;
}.layui-layer-title{
    color:#fff !important;
    border:1px solid #2d7b80 !important;
    background-color:rgba(19,69,99,0.9) !important;
}.layui-layer-content{
	color:#fff !important;
    background-color:rgba(21,82,119,0.8);
    border-left:1px solid #2d7b80 !important;
    border-right:1px solid #2d7b80 !important; 
    border-bottom:1px solid #2d7b80 !important;
}.layui-layer-shade{
    opacity:0.5 !important;
}.layui-layer-btn{
    background-color:rgba(21,82,119,0.8);
    border-left:1px solid #2d7b80 !important;
    border-right:1px solid #2d7b80 !important; 
    border-bottom:1px solid #2d7b80 !important;
}
/* ========== */

/* = popover提示框样式 = */
.popover{
  position: absolute;
  top: 2;
  left: 0;  
  display: block;  
  max-width: 110px;
  /*padding: 1px;*/
  font-family: "宋体", Helvetica, Arial, sans-serif;
  /*font-size: 12px;*/
  font-style: normal;
  color: yellow;
  font-weight: border;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
 /* background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000% 1000%;*/
 background-color: rgba(25, 43, 89, 0.71);
 /* -webkit-background-clip: padding-box;
          background-clip: padding-box;*/
  border: 1px solid #55a4ba; 
  border-radius: 0px;
  box-shadow: 0px 0px 10px rgba(45,123,128,0.8);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
          box-shadow: 0 0px 0px rgba(0, 0, 0, .2);
  text-indent:0px !important;
  /*  line-break: auto;*/
}
/*.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}*/
.popover-title {
  	text-align: -moz-left;
	padding: 4px 4px !important;
	margin: 2px 0px 0px 0px;
	font-size: 11px;
	font-weight: bolder;
	background-color: rgba(0,0,0,0) !important;
	border-bottom: 0px solid #45A6B5;
	border-radius: 0px;
}
.popover-content {
  padding:2px 5px !important;
  font-size: 11px;
  text-align: left;
  /*text-indent: 5px;*/
  color:white;
  width: 90px;
  word-wrap: break-word !important;  
  word-break: break-all !important; 
}
.arrow{
	display: none !important;;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  /* border-top-color: #05E4ED; */
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #2C7A7F;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #333439;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #333439;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #333439;
}

/* ========== */

/* = 动画 = */
/*流光效果*/
.easyUtil-glittering {
 position: relative;
 text-decoration: none;
 overflow: hidden;
 -webkit-transition: all 1s ease-in;
 transition: all 1s ease-in;
}

.easyUtil-glittering:hover {
 /*  background: rgba(0,0,0,0); */
}
.easyUtil-glittering:before {
 content: ' ';
 position: absolute;
 background: #fff;
 width: 25px;
 height: 50px;
 top: 0;
 left: -45px;
 opacity: 0.3;
 -webkit-transition: all 0.4s ease-out;
 transition: all 0.4s ease-out;
 -webkit-transform: skewX(-25deg);
         transform: skewX(-25deg);
}
.easyUtil-glittering:hover:before {
 width: 45px;
 left: 205px;
}

/*动画闪烁*/
.easyUtil-blinBlink{ 
    box-shadow: 0px 0px 30px rgba(91,239,248,1);
    border-radius:100px;
    -webkit-animation: twinkling 1s infinite ease-in-out 
    } 
.animated{ 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both 
    } 
@-webkit-keyframes twinkling{ 0%{ opacity: 0.5;} 100%{ opacity: 1;} } 
@keyframes twinkling{ 0%{ opacity: 0.5; } 100%{ opacity: 1;} }

/* ========== */

/* = 常用类 = */
/*div用途*/
.easyUtil-moreLightBox{
    box-shadow: 0px 0px 13px rgba(91,239,248,0.8);
    border-radius: 5px;
}
.easyUtil-moreLightFont{
    color:#05E4ED !important;
}
.easyUtil-toRight {
	float: right;
}
.easyUtil-toLeft {
	float: left;
}

.easyUtil-addLevel{
	position: relative;
	z-index: 99999;
}

.easyUtil-hidden{
	display:none;
}
/*特殊字体相关*/
.easyUtil-fOrange{
	color: #eaa755 !important;	
}
.easyUtil-fBlue{
	color: #55a4ba !important;
}
.easyUtil-fGreen{
    color: #4bab1f !important;
}
.easyUtil-fYellow{
    color: #FFFF00 !important;
}
.easyUtil-font12{
	font-size: 12px;
}
.easyUtil-font13{
	font-size: 13px;
}
.easyUtil-font14{
	font-size: 14px;
}
.easyUtil-font16{
	font-size: 16px;
}
.easyUtil-fontBolder{
	font-weight: bolder;
}
.easyUtil-fontNoraml{
	font-weight: normal;
}
.easyUtil-fontLight{
	font-weight: lighter;
}
/* ========== */

/* = 自定义下拉框 = */
.blueForm{
	border: 1px solid #55a4ba;
	font-size: 12px;
	padding: 5px;
	top: -5px;
	height: 29px;
	width: 110px;
	line-height: 17px;
	margin-left: 10px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 110px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    background-color: #011C46;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #55a4ba;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #FFFFFF;
    white-space: nowrap;
}
/* ========== */